<h1>{{course.course_name}}</h1>

{% if privilege == 0 %}
    <form action= "/join/{{course.id}}" method= "POST">
        <input type="hidden" name="csrf_token" value="{{token}}">
        <input type = "submit" value = "Liity kurssille">
    </form>
{% endif %}
{% if privilege == 4 %}
    <a href = "/course/{{course.id}}/permissions">Muuta käyttöoikeuksia</a>
{% endif %}
{% if privilege >= 3 %}
    <a href = "/course/{{course.id}}/create-page">Luo alasivu</a>
{% endif %}
{% if privilege >= 1 %}
    <p><a href = "/course/{{course.id}}/exercises">Tehtävät</a> </p>
{% endif %}
{% if privilege >= 1 %}
    <p><a href = "/course/{{course.id}}/statistics">Kurssin yhteenveto</a></p>
{% endif %}
{% if privilege >= 3 %}
    <p><a href = "/course/{{course.id}}/modify">Muokkaa kuvausta </a></p>
{% endif %}

{% for message in get_flashed_messages() %}
    <p>{{message}}</p>
{% endfor %}

<p>{{course.course_description}}</p>

<p>Kurssin osat:</p>

{% for page in pages%}
    <p><a href= "/course/{{course.id}}/{{page.id}}">{{page.title}}</a></p>
{% endfor %}

<a href= "/main">Palaa pääsivulle</a>