<h2>Muokkaa sivua</h2>
{% for message in get_flashed_messages() %}
    <p>{{message}}</p>>
{% endfor %}
<form action = "/course/{{course}}/{{page}}/modify" method = "post">
    <input type="hidden" name="csrf_token" value="{{token}}">
    Otsikko: <input type = "text" name = "title", value = {{title}}>
    <p>Sisältö:</p>
    <p><input type = "text" name = "content", value = {{content}}></p>
    <input type ="submit" value = "Tallenna"> 
</form>>

<p><a href="/course/{{course}}/{{page}}">Palaa takaisin</a></p>