{{course.course_name}}
<p>
{{course.description}}
<p>
{% if privilege == 0 %}
<a href = "/join/{{course.id}}">Liity kurssille</a>
{% endif %}
{% if privilege == 4 %}
<a href = "/course/{{course.id}}/permissions">Muuta käyttöoikeuksia</a>
{% endif %}
{% if privilege >= 3 %}
<a href = "/course/{{course.id}}/create-page">Luo alasivu</a>
{% endif %}
<p>
{% for message in get_flashed_messages() %}
    {{message}}
{% endfor %}
<p>
Tämä on kurssin aloitussivu. Jonnekin tänne tulee linkit kurssin eri osioihin sekä tehtäviin.
<p>
Kurssin osat:
<p>
{% for page in pages%}
<p>
    <a href= "/course/{{course.id}}/{{page.id}}">{{page.title}}</a>
</p>
{% endfor %}
</p>
<p>

<a href= "/main">Palaa pääsivulle</a>