<h2>Luo uusi kurssi:</h2>
<form action = "/create" method = "POST">
    <input type="hidden" name="csrf_token" value="{{token}}">
    <p>Kurssin nimi (5-50 merkkiä): </p>

    <p><input type = "text" name ="course_name"></p>

    <p>Kurssin kuvaus (Enintään 2000 merkkiä): </p>

    <textarea name= "description" rows = "10" cols = "150"> </textarea>

    {% for message in get_flashed_messages() %}
        <p>{{message}}</p>
    {% endfor %}

    <p><input type = "submit" value = "Luo kurssi"> </p>
</form>

<a href="/main">Palaa</a>
