<h1>Rekisteröityminen</h1>
<form action="/register" method = "post">
<p>Käyttäjätunnus (2-12 merkkiä): </p>

<p><input type="text" name="username" ></p>

<p>Salasana(4-20 merkkiä):</p>

<p><input type="text" name="password"> </p>
<p>
<input type = "radio" name = "account_type" value = "Student", checked = "checked"> Oppilas
<input type = "radio" name = "account_type" value = "Teacher"> Opettaja
</p>
{% for message in get_flashed_messages() %}
    <p>{{message}}</p>
{% endfor %}
<p><input type ="submit" value = "Rekisteröidy"> </p>
</form>
<p><a href="/"> Palaa</a></p>