<form action="/register" method = "post">
Käyttäjätunnus (2-12 merkkiä): 
<p>
<input type="text" name="username" >
<p>
Salasana(4-20 merkkiä):
<p>
<input type="text" name="password"> 
<p>
<input type = "radio" name = "account_type" value = "Student", checked = "checked"> Oppilas
<input type = "radio" name = "account_type" value = "Teacher"> Opettaja

<p>
{% for message in get_flashed_messages() %}
    {{message}}
{% endfor %}
<p>
<input type ="submit" value = "Rekisteröidy"> 
</form>
<a href="/"> Palaa</a>